//- doctype html
//- html
//-   head
//-     title= `${title}`
//-     link(rel='stylesheet', href='/css/bootstrap.min.css')
//-     link(rel='stylesheet', href='/css/styles.css')

//-   body
//-     div.container.listing-reg
//-       h1 My Amazing App

//-       block content

doctype html
head
  link(rel='preconnect' href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Sacramento&display=swap' rel='stylesheet')
  link(rel='stylesheet', href='/css/styles.css')
  block styles
  script(src='script.js')
header
  nav.nav-container
    ul.left-nav
      li
        a(href='/') Home
      li |
      li
        a(href='#') Blog
    ul.right-nav
      li
        a(href='/register') Register

main
  section#intro-text
    span Simple Kitchen
    h3
      | Simple &amp; Comforting 
      br
      |             Recipes All Year Round
    p Pan-seared chicken, Grill shrimp, mac &amp; cheese&mdash;need we say more?
    //
      <p class="success">SUCCESS</p>
      <p class="error">ERROR</p>
      <p class="warning">WARNING</p>
    button.submit-buttton View Recipes
  section#intro-image
    //- img(src='images/louisiana-barbecued-shrimp.webp' alt='Louisiana Barbecued Shrimp')
    block content
footer
  | &copy; Copyright 2021
