extends layout

block styles
    link(rel='stylesheet', href='/css/table.css')

block content

    if registrations.length
        table.listing-table.table-dark.table-striped
            tr
                th Name
                th Email
                th User Name
            each registration in registrations
                tr
                    td= registration.name
                    td= registration.email
                    td= registration.username
    else
        p No registrations yet :(